@import "media";
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    
    padding: 20px 0;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            color: #1abc9c;
        }
        nav{
            ul{
                display: flex;
                li{
                    margin-left: 20px;
                    
                }
            }
        }
        button{
            @include xs{
            }
            @include ms{
                display: block;
                
            }
            @include md{
                

            }
        }
    }
}