.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}
.banner {
  .container {
    .banner-items {
      position: relative;
      .owl-dots {
        position: absolute;
        top: 0;
        .owl-dot {
          span {
            background-color: white;
          }
        }
      }
    }
  }
}
