.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}
.banner {
  .container {
    .banner-items {
      position: relative;
      transition: all 0.5s;
      .owl-item {
        &.active {
          img {
            opacity: 0;
            animation: banner 0.5s forwards alternate;
          }
        }
      }

      .owl-dots {
        position: absolute;
        display: flex;
        bottom: 50px;
        right: 50%;
        transform: translateX(50%);
        .owl-dot {
          max-width: 30px;
          justify-content: center;
          &:last-child {
            margin-right: auto;
            span {
              right: auto;
            }
          }
          span {
            width: 8px;
            height: 8px;
            margin: 5px;
            background-color: #cdcdcd;
            transition: 0.2s;
            &:hover {
              background-color: #666666;
            }
          }
          &.active {
            span {
              width: 18px;
              background-color: white;
            }
          }
        }
      }
    }
  }
}

@keyframes banner {
  to {
    opacity: 1;
  }
}
