.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}
.banner {
  .container {
    .banner-items {
      position: relative;
      .owl-dots {
        position: absolute;
        bottom: 50px;
        right: 50%;
        transform: translateX(50%);
        &:last-child() {
          right: auto;
        }
        .owl-dot {
          width: 30px;
          text-align: center;
          span {
            width: 8px;
            height: 8px;
            background-color: #cdcdcd;
            transition: 0.2s;
            &:hover {
              background-color: #666666;
            }
          }
          &.active {
            span {
              background-color: white;
            }
          }
        }
      }
    }
  }
}
