* {
  font-family: "Poppins", sans-serif;
}
$deepColor: #222222;
$lightColor: #898989;
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}
$color-text: #666666;
@mixin forcusA {
  display: inline-block;
  font-size: 13px;
  line-height: 12px;
  margin: 0px 2px 0px 23px;
  transition: 0.4s;
  &:hover {
    color: #222222;
  }
  @content;
}
header {
  .divider {
    width: 1px;
    height: 25px;
    background-color: #e1e1e1;
    margin: 0px -3px 0px 20px;
  }
  .header-top {
    border-bottom: 1px solid #e1e1e1;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        color: $color-text;
        font-size: 13px;
        letter-spacing: -0.15px;
        line-height: 18px;
        padding: 11px 0px;
      }
      .header-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $color-text;
        .nav-top {
          a {
            @include forcusA {
              color: $color-text;
              i {
                font-size: 17px;
                margin: 0px 7px 0px 0px;
              }
            }
          }
        }
        .delimiter {
          color: #aaaaaa;
          font-size: 20px;
          margin: 0 -15px 0 5px;
        }
        .dropdown {
          padding: 9px 0;
          position: relative;
          @include forcusA {
            font-size: 11px;
            i {
              font-size: 11px;
              margin: auto 0px 0px 7px;
            }
          }
          &:hover {
            .dropdown-box {
              transition: 0.4s;
              opacity: 1;
              visibility: visible;
              top: 100%;
            }
          }

          .dropdown-box {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            background-color: #ffffff;
            box-shadow: 0px 0px 24px 1px rgba(0, 0, 0, 0.21);
            padding: 5px 0;
            top: 70%;
            right: 0;
            z-index: 2;
            li {
              a {
                @include forcusA {
                  margin: 0;
                  font-size: 11px;
                  color: $color-text;
                  padding: 6px 10px;
                }
              }
            }
          }
        }
      }
    }
  }
  .header-meddle {
    padding: 27px 0;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .header-left {
        display: flex;
        align-items: center;
        flex-grow: 1;
        .home-item {
          display: inline-block;
          margin-right: 80px;
          img {
            height: 45px;
            width: 153px;
          }
        }
        .input {
          width: 100%;
          position: relative;
          padding: 0px 50px 0px 15.5px;
          border: 2px solid #e1e1e1;
          border-radius: 5px;

          input {
            width: 100%;
            display: inline-block;
            font-size: 13px;
            letter-spacing: -0.35px;
            height: 41px;
            color: #999999;
            &:focus {
              &::placeholder {
                opacity: 0;
              }
            }
            &::placeholder {
              color: #999999;
              transition: all 0.5s;
            }
          }
          .btn-search {
            position: absolute;
            margin-right: auto;
            color: #2b2b2b;
            font-size: 20px;
            right: 5%;
            bottom: 50%;
            transform: translateY(50%);
          }
        }
      }
      .header-right {
        display: flex;
        align-items: center;
        .item-call {
          display: flex;
          align-items: center;
          margin-left: 65px;
          i {
            color: $deepColor;
            display: inline-block;
            font-size: 30px;
            margin-right: 12px;
          }
          .call-content {
            h4 {
              font-size: 11px;
              letter-spacing: -0.297px;
              line-height: 11px;
              margin: 0px 0px 5px;
              text-align: left;
              text-transform: capitalize;
              color: $lightColor;
            }
            p {
              color: $deepColor;
              font-size: 14px;
              font-weight: 700;
              letter-spacing: -0.5992px;
              line-height: 14px;
              text-align: left;
            }
          }
        }
        .dropdown-like {
          .icon-like {
            font-size: 28px;
          }
        }
        .cart-lable {
          .cart-content {
            .cart-name {
            }
            .cart-price {
            }
          }
          .icon-bag {
          }
        }
      }
    }
  }
}
@import "banner";
@import "animation";
