* {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}
$color-text: #666666;
header {
  .container {
    .header-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        color: $color-text;
        font-size: 13px;
        letter-spacing: -0.15px;
        line-height: 18px;
        padding: 11px 0px;
      }
      .header-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $color-text;
        a {
          color: $color-text;
          display: inline-block;
          font-size: 13px;
          letter-spacing: -0.3px;
          line-height: 12px;
          margin: 0px 2px 0px 23px;
          i {
            font-size: 17px;
            margin: 0px 7px 0px 0px;
          }
        }
        .divider {
          width: 1px;
          height: 25px;
          background-color: #e1e1e1;
          letter-spacing: -0.3px;
          line-height: 19.2px;
          margin: 0px -3px 5px 20px;
        }
        .delimiter {
          color: #aaaaaa;
          font-size: 20px;
          letter-spacing: -0.3px;
          line-height: 19.2px;
          margin-left: 5px;
        }
        .dropdown {
          a {
            font-size: 12px;
            i {
              font-size: 12px;
              margin: auto 0 0 10px;
            }
          }
        }
      }
    }
  }
}
@import "banner";
@import "animation";
