.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}
.banner {
  .container {
    .banner-items {
      .item {
        .owl-dots {
          .owl-dot {
            span {
              background-color: red;
            }
          }
        }
      }
    }
  }
}
