* {
  font-family: "poppins", sans-serif;
}
$deepColor: #222222;
$lightColor: #898989;
$colorModal: #999999;
$deepColorModel: #222222;
$colorSticky: #ffffff;
$color-text: #666666;
$backGroundSticky: #33363b;
$backgroudlabel: #ff674d;
@import "../grid";
@import "../media";
.hide-scroll {
  overflow: hidden;
}
body {
  width: 100%;
}
.product-category {
  .top-categories {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.6px;
    line-height: 28.8px;
    margin: 30px 0px 26px;
    text-align: center;
    text-transform: capitalize;
  }
  .prods-categories {
    opacity: 0;
    padding: 0px 0px 30px;
    .wrapper-block {
      position: relative;
      width: 100%;
      height: 100%;
      &:hover {
        .block-cover {
          background-color: rgba($deepColor, 0.2);
        }
      }
      .block-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        transition: 0.3s;
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 3px;
        object-fit: cover;
      }
    }
    .collection-main {
      position: relative;
      @include xsToSm {
        max-height: 430px;
      }
      @include md {
        height: 580px;
      }
      &.collection-main-pad {
        padding: 10px;
      }
      .product-category-right {
        height: 100%;
        @include xs {
          display: block;
        }
        .collection-aside {
          @include xs {
            width: 100%;
            height: 50%;
            display: block;
          }
          @include lg {
            max-height: 290px;
          }
          padding: 10px;
        }
      }
      .title-collection {
        position: absolute;
        top: 35px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        text-align: center;
        h2 {
          font-size: 24px;
          font-weight: 600;
          letter-spacing: -0.24px;
          line-height: 36px;
          color: $deepColor;
        }
        h3 {
          letter-spacing: -0.24px;
          font-size: 24px;
          font-weight: 200;
          color: #666666;
        }
      }
      .btn {
        display: flex;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        button {
          padding: 17px 39px;
          background-color: rgba($colorSticky, 0.9);
          border-radius: 2px;
          color: #222222;
          display: inline-block;
          font-size: 14px;
          font-weight: 600;
          line-height: 16.8px;
          white-space: nowrap;
          cursor: pointer;
          transition: 0.3s;
          &.women {
            margin-right: 10px;
          }
          i {
            opacity: 0;
            transform: translateX(-50%);
            transition: 0.3s transform;
          }
          text-align: start;
          &:hover {
            background-color: rgba($deepColor, 0.9);
            color: #ffffff;
            i {
              opacity: 1;
              transform: translateX(100%);
            }
          }
        }
      }
    }
  }
}
.on-sale {
  padding: 10px;
  .section-sale {
    position: relative;
    padding: 68px 50px 62px;
    @include xsToMd {
      padding: 68px 50px 170px;
    }
    border-radius: 3px;
    width: 100%;
    max-height: 316px;
    background: url("https://d-themes.com/html/riode/images/demos/demo2/banners/3.jpg")
      no-repeat 50% 50% / cover;
    h4 {
      display: inline-block;
      color: #ffffff;
      font-size: 26px;
      letter-spacing: -0.65px;
      line-height: 26px;
      border-bottom: #666666 2px solid;
      padding-bottom: 5px;
    }
    h3 {
      margin-top: 10px;
      color: #ffffff;
      font-size: 76px;
      font-weight: 800;
      letter-spacing: 3.8px;
      line-height: 76px;
    }
    .price-info {
      transform: rotate(-15deg);
      position: absolute;
      border-radius: 50%;
      border: #999999 4px solid;
      width: 140px;
      height: 140px;
      @include lg {
        top: 50%;
        left: 300px;
        transform: translateY(-50%);
      }
      @include xsToMd {
        bottom: 20px;
        left: 100px;
      }
      text-align: center;
      .up-to {
        margin-top: 25px;
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -0.9px;
        .persent {
          color: #ff675d;
          font-size: 34.992px;
          font-weight: 800;
          letter-spacing: -1.7496px;
          line-height: 45.4896px;
        }
      }
    }
  }
}
@import "menumobile";
@import "stickyscrolltop";
@import "stickywrapper";
@import "model";
@import "responsiveheader";
@import "reponsivebanner";
@import "product";

@import "_wishlist";
@import "_cart";
@import "animation";
